:root {
    --body-background-color: #fef6e4;
    --headline-text-color: #001858;
    --paragraph-text-color: #172c66;
    --button-background-color: #f582ae;
    --button-text-color: #001858;
    --darker-blue-color: #001858;
    --regular-blue-color: #172c66;
    --white-color: #fef6e4;
    --pink-background-color: #f582ae;
}