@import './styles/reset.css';
@import './styles/colors.css';
@import './styles/fonts.css';

body {
    background-color: var(--body-background-color);
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headline-text-color);
    font-family: 'Oswald', sans-serif;
}

p {
    color: var(--paragraph-text-color);
}


/*DISPLAY*/

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.d-none {
    display: none;
}

/*FLEX*/

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.direction-row {
    flex-direction: row;
}

.direction-column {
    flex-direction: column;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

/*GRID*/
.place-content-center {
    place-content: center;
}

.template-columns-3-100px {
    grid-template-columns: repeat(3, 100px);
}

.template-rows-3-100px {
    grid-template-rows: repeat(3, 100px);
}

/*MARGIN*/

.m-20 {
    margin: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-80 {}

/*PADDING*/

.p-20 {
    padding: 10px;
}

/*FONT*/

.font-s-symbols {
    font-size: 60px;
}

.font-s-xl {
    font-size: 2.5rem;
}

.font-s-lg {
    font-size: 2.0rem;
}

/*FONT WEIGHT*/

.bold {
    font-weight: bold;
}

/*WIDTH*/

.wv-60 {
    width: 60vw;
}

.w-100p {
    width: 100%;
}

.w-fit-content {
    width: fit-content;
}

.w-130 {
    width: 130px;
}

.w-200 {
    width: 200px;
}

/*HEIGHT*/

.h-50 {
    height: 50px;
}

.h-130 {
    height: 130px;
}

.h-400 {
    height: 400px;
}

/*BORDER*/

.border-solid {
    border-style: solid;
}

.border-bottom-solid {
    border-bottom-style: solid;
}

.border-1 {
    border-width: 1px;
}

.border-5 {
    border-width: 5px;
}

.border-r-5 {
    border-radius: 5px;
}

.border-r-10 {
    border-radius: 10px;
}

.border-pink {
    border-color: var(--pink-background-color);
}


/*BACKGROUND COLOR*/

.bg-darker-blue {
    background-color: var(--darker-blue-color);
}

.bg-white {
    background-color: var(--white-color);
}


.bg-pink {
    background-color: var(--pink-background-color);
}

/*TEXT COLOR*/

.text-white {
    color: var(--white-color);
}

/*CURSOR*/

.cursor-pointer {
    cursor: pointer;
}

/*POSITION*/

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.top-80 {
    top: 80px;
}


/*VISIBILITY*/

.v-hidden {
    opacity: 0;
}

.v-show {
    opacity: 1;
}

/*BOX SHADOW*/
.box-shadow-1 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*ANIMATION*/

.rotate-up {
    transform: rotate(180deg);
}

.rotate-down {
    transform: rotate(0deg);
}

/*TRANSITIONS*/
.transition-eio-fast {
    transition: ease-in-out all .2s;
}

.transition-eio-regular {
    transition: ease-in-out all .4s;
}

/*SELECT OPTION*/
.select-option:hover {
    background-color: var(--regular-blue-color);
}